<ul>
    <li>
        <span class="pull-right">&copy; The Hangar Interactive. All rights reserved.</span>
    </li>
    <li>
        <a href="#">Privacy Policy</a> |
        <a href="#">Terms of Use</a> |
        <a href="#">Contact Us</a>
    </li>
</ul>

