<form class="input-append">
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" type="text" id="query" placeholder="Search Music">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
            </div>
        </div>
    </div>
</form>
<ul id="search-results">
    <!-- Where our To Do items will go -->
</ul>
