<% _.each(collection, function(model) { %>
<ul class="song">
    <li class="play-btn">
        <a href="/#play/<%=model.url%>" class="btn">play</a>
    </li>
    <li class="song-name"><%= model.songname %></li>
    <li class="song-artist"><%= model.artistname %></li>
    <li class="radio-btn">
        today
    </li>
    <li class="radio-btn">
        friday
    </li>
</ul>
<% }); %>