<div class="container">
    <div class="row">
        <div class="col-md-8 centered-column">
            <div class="pull-right">
                <div id="now-playing">
                    Now Playing
                </div>
                <div id="rate-song">
                    Rate Songs
                </div>
            </div>
        </div>
    </div>
</div>

