.input-append{
  margin: 50px 0;
  input{
    border-radius: 20px !important;
    @include bg-search(0.7);
    padding:0 20px;
    margin-left: 20px;
  }
  .input-group-addon{
    right: 30px;
    position: relative;
    background-color: transparent;
    border: 0;
    .glyphicon{
      color: $global_cta_dark;
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
      z-index: 2;
    }
  }
}