#search-results{
  .song{
    padding: 15px;
    height: 70px;
    float: left;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
    &:nth-child(even) {
      background-color: rgba(255, 255, 255, 0.3);
    }
    & > li{
      float: left;
    }
    .song-artist, .song-name{
      width: 50%;
    }
  }
  .play-btn{
    margin-right: 10px;
    a{
      width: 40px;
      height: 40px;
      text-indent: -9999999px;
      background: -webkit-linear-gradient(bottom, $play-btn-top-color , $play-btn-bottom-color);
      background: -o-linear-gradient(bottom, $play-btn-top-color , $play-btn-bottom-color);
      background: -moz-linear-gradient(bottom, $play-btn-top-color , $play-btn-bottom-color);
      background: linear-gradient(to bottom, $play-btn-top-color , $play-btn-bottom-color);
      &:after{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 50px 0 50px 86.6px;
        border-color: transparent transparent transparent #ffffff;
      }
    }
  }
}