#search-results{
  min-height: 283px;
  .message{
    width: 100%;
    color: $global_cta_dark;
    text-align: center;
  }
  .song{
    padding: 15px;
    height: 70px;
    float: left;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 3px;
    &:nth-child(even) {
      background-color: rgba(255, 255, 255, 0.3);
    }
    & > li{
      float: left;
    }
    .song-name{
      font-family: "DIN Medium";
    }
    .song-artist{
      font-style: italic;
      color: #333;
    }
    .song-artist, .song-name{
      text-transform: capitalize;
    }
    .radio-btns-group{
      .radio-btn{
        cursor: pointer;
        border: 1px solid $cta_border_color;
        padding: 8px 20px;
        float: left;
        border-radius: 8px;
        font-family: TitilliumText22L001;
        text-shadow: 0px 0px black, 1px 0px black, 0px 0 black, 0 0px black;
        @include gradient(bottom, $global_cta_dark, $global_cta_light);
        &.left{
          border-right: 0;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }
        &.right{
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
        }
        &.checked{
          background: $global_cta_dark !important;
          cursor: default;
        }
      }
    }
  }
  .play-btn{
    margin-right: 10px;
    a{
      color: #FFF;
      padding: 8px 9px 10px;
      font-size: 20px;
      border-radius: 4px;
      @include gradient(bottom, $play-btn-bottom-color, $play-btn-top-color);
      &:hover, &:focus{
        text-decoration: none;
      }
    }
  }
}