@mixin bg-search($opacity){
  background: rgba(3, 97, 128, $opacity);
  border: 0;
  -webkit-box-shadow:inset 0 0 10px #025772;
  -moz-box-shadow:inset 0 0 10px #025772;
  box-shadow:inset 0 0 10px #025772;
}

.input-append{
  margin: 50px 0;
  input{
    border-radius: 20px !important;
    @include bg-search(0.5);
    padding: 20px;
    margin-left: 20px;
  }
  .input-group-addon{
    right: 30px;
    position: relative;
    background-color: transparent;
    border: 0;
    .glyphicon{
      color: $global_cta_dark;
      font-weight: bold;
      font-size: 18px;
    }
  }
}