$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';
@import "variables";

@font-face {
  font-family: SameSameButDifferent;
  src: url(../fonts/SameSameButDifferent.ttf);
}

body{
  background: url(../images/search-music-bg.jpg);
  background-size: cover;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

h1{
  font-family: SameSameButDifferent;
  background: -webkit-linear-gradient(#fff, #c3c3c3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
}

.centered-column{
  float: none;
  margin: 0 auto;
}

.logo{
  margin-right: 10px;
}

/* Search Bar Styles */
@import "search-bar";

/* Search Result Styles */
@import "search-results";