$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';
@import "variables";


body{
  background: url(../images/search-music-bg.jpg);
  background-size: cover;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Search Bar Styles */
@import "search-bar";

/* Search Result Styles */
@import "search-results";